<%= render 'home/navbar' %>

<div class="container">
  <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <div class="newsfeed">
    <div class="newsfeed__posts">
        <h3 class="newsfeed__title--posts">Newsfeed</h3>

     <% if @posts.length > 0 %>
        <% @posts.each do |post| %>   

        <div class="newsfeed__post-item">
            <img class="newsfeed__photo" src="img/race-1.jpg">
            <div class="newsfeed__detail">
                <%= image_tag post.user.photo.url(:thumb) %><br>
                <%= post.user.first_name + " " + post.user.last_name %><br>
                <%=post.created_at.in_time_zone(-4).strftime("%A, %b %e, %Y") %><br>
                <%=post.created_at.in_time_zone(-4).strftime("%I:%M %p") %>
            </div>
            <span class="newsfeed__description">
                <%= link_to post.title, post %>
            </span>
        </div>
        <% end %>
        <% else %>
        <p>Your friends have no posts.</p>
        <% end %>
    </div>

    <div class="newsfeed__races">
        <h3 class="newsfeed__title--races">Friends Races</h3>

        <% @races.each do |race| %>
        <div class="newsfeed__race-item">
            <div class="newsfeed__race-item--add">
                <i class="fa fa-plus-circle profile__race-item--add-icon" aria-hidden="true"></i>
            </div>
            <span class="date">
                <%= race.date.strftime("%m/%d") %>
            </span> <%= link_to race.name, race %>
        </div>
        <% end %>

    </div>
  </div>
    <!-- If no current user, go to login page -->
    <% else %>

        <%= render 'home/login' %>

    <% end %>
</div>

