<%= render 'home/navbar' %>

<div class="container">
  <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <div class="newsfeed">
    <div class="newsfeed__posts">
        <h3 class="newsfeed__title--posts">Friends Latest Activities</h3>

     <% if @posts.length > 0 %>
        <% @posts.each do |post| %>   
        <%= link_to post do %>
            <div class="newsfeed__post-item">
                <div class="newsfeed__post-header"> 
                    <div class="newsfeed__post-header--photo">
                        <%= image_tag post.user.photo.url(:thumb) %>
                    </div>
                    <div class="newsfeed__post-header--details">
                        <%= post.user.first_name + " " + post.user.last_name %> posted <span class="newsfeed__post-header--title"><%= post.title %></span><br>
                        <%=post.created_at.strftime("%A, %b %e, %Y") %> | <%=post.created_at.in_time_zone(-4).strftime("%I:%M %p") %> 
                    </div>
                </div>
                <span class="newsfeed__post-description">
                    <span class="newsfeed__post-description--details">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nisi quis dolor luctus tristique. Nunc non pulvinar est. Suspendisse lacinia, urna eget ornare accumsan, dolor eros sodales diam, ut consectetur lacus augue nec quam. Fusce consequat a ante eu tempus. Integer vehicula purus ac mauris suscipit elementum. Cras rutrum convallis turpis vel malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce in urna id nisl posuere ullamcorper. Aenean eget lacus ante. Cras in fringilla sem. In sit amet rhoncus quam, ut posuere dolor. Fusce nec mi nunc.
                    </span>
                </span>
            </div>
        <% end %>
        <% end %>
        <% else %>
        <p>Your friends have no posts.</p>
        <% end %>
    </div>

    <div class="newsfeed__races">
        <h3 class="newsfeed__title--races">Friends Races</h3>

        <% @races.each do |race| %>
        <div class="newsfeed__race-item">
            <div class="newsfeed__race-item--add">
                <i class="fa fa-plus-circle profile__race-item--add-icon" aria-hidden="true"></i>
            </div>
            <span class="date">
                <%= race.date.strftime("%m/%d") %>
            </span> <%= link_to race.name, race %>
        </div>
        <% end %>

    </div>
  </div>
    <!-- If no current user, go to login page -->
    <% else %>

        <%= render 'home/login' %>

    <% end %>
</div>

